<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story 8</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'lab_8/css/style.css' %}">
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Hello</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Themes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item light" href="#">Light Mode</a>
          <a class="dropdown-item dark" href="#">Dark Mode</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</header>
<div class="container p-2">
    <div id="accordion">
      <h3>Aktivitas dan Pengalaman</h3>
      <div>
        <p>
            <ul>
          <li>Staff acara -> PPMB, Katthina</li>
      </ul>
        </p>
      </div>
        <h3>Organisasi dan Kepanitiaan</h3>
      <div>
        <p>
        <ul>
          <li>KMBUI</li>
      </ul>
        </p>
      </div>
        <h3>Prestasi</h3>
      <div>
        <p>
            <ul>
          <li>
              Magang di Glotech Prima Vista
          </li>
      </ul>
        </p>
      </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="{% static 'lab_8/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'lab_8/js/scripts.js' %}"></script>
</body>
</html>