.container{
    max-width: 500px;
    padding: 12px;
    border-radius: 10px;
    background-color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
body{
    background-color: gainsboro;
    overflow: hidden;
}
.ui-state-active{
    border: gainsboro;
    background-color: lightgrey;
    color: grey;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

#status {
  position: absolute;
  left: 48%;
  top: 48%;
  margin: -100px 0 0 -100px;
    border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
    width: 200px;
  height: 200px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}